Source: ros-humble-tiago-pro-gazebo
Section: misc
Priority: optional
Maintainer: Narcis Miguel <narcis.miguel@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-auto, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-tiago-pro-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-gazebo-plugins, ros-humble-gazebo-ros, ros-humble-gazebo-ros2-control, ros-humble-launch, ros-humble-launch-pal, ros-humble-launch-ros, ros-humble-omni-base-description, ros-humble-pal-gazebo-plugins, ros-humble-pal-gazebo-worlds, ros-humble-pal-maps, ros-humble-pal-pro-gripper-description, ros-humble-pal-urdf-utils, ros-humble-play-motion2-msgs, ros-humble-tiago-pro-2dnav, ros-humble-tiago-pro-bringup, ros-humble-tiago-pro-description, ros-humble-tiago-pro-head-description, ros-humble-tiago-pro-laser-sensors, ros-humble-tiago-pro-moveit-config, ros-humble-ros-workspace
Description: The tiago_pro_gazebo package
